/* root */
:root {
  /* colors */
  --color-grey-950: #08070b;
  --color-grey-900: #14131b;
  --color-grey-850: #18171f;
  --color-grey-800: #24232c;
  --color-grey-700: #54535b;
  --color-grey-600: #817d92;
  --color-grey-500: #e6e5ea;
  --color-green-200: #a4ffaf;
  --color-yellow-300: #f8cd65;
  --color-orange-400: #fb7c58;
  --color-red-500: #f64a4a;
  --color-almostWhite: #e6e5ea;

  /* gradient */
  --color-gradient: linear-gradient(#14131b, #08070b);

  /* typo */
  --fs-pr1: 3.2rem;
  --fs-lh1: 4.2rem;
  --fs-pr2: 2.4rem;
  --fs-lh2: 3.2rem;
  --fs-pr3: 1.8rem;
  --fs-lh3: 2.4rem;
  --fs-pr4: 1.6rem;
  --fs-lh4: 2rem;

  /* space */
  --spacing-100: 0.8rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-700: 5.6rem;
  --spacing-1000: 8rem;
  --spacing-1300: 10.4rem;
  --spacing-1600: 12.8rem;
  --spacing-2000: 16rem;
  --spacing-2200: 17.6rem;
  --spacing-2300: 18.4rem;
}

html {
  font-size: 62.5%;
}

/* base */
body {
  font-family: "jet brains", serif;
  background-color: var(--color-grey-600);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-gradient);
}

.app--title {
  font-size: clamp(var(--fs-pr4), 3vw, var(--fs-pr3));
  line-height: var(--fs-lh3);
  color: var(--color-grey-600);
  text-align: center;
}

/* slider sectio */
.slider--block {
  display: flex;
  flex-direction: column;
  gap: clamp(var(--spacing-100), 2vw, var(--spacing-200));
  transition: all 150ms ease-out;
  background-color: var(--color-grey-800);
  color: var(--color-almostWhite);
}

.slider--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider--title {
  font-size: var(--fs-pr3);
  line-height: var(--fs-lh3);
}

.slider--value {
  font-size: var(--fs-pr1);
  line-height: var(--fs-lh1);
  color: var(--color-green-200);
}

.slider--range {
  appearance: none;
  height: clamp(var(--spacing-100), 2.5vw, calc(var(--spacing-100) + 0.2rem));
  transition: 200s ease-out;
  background-color: var(--color-grey-900);
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.slider--range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 26px;
  width: 26px;
  outline: 0.2rem solid var(--color-almostWhite);
  padding: 0.2rem;
  background: var(--color-almostWhite);
  border-radius: 50%;
  border: 0;
  transition: background-color 150ms ease-in;
}

.slider--range::-webkit-slider-thumb:active {
  height: 26px;
  width: 26px;
  background-color: var(--color-grey-850);
  outline: 2px solid var(--color-green-200);
}

.slider--block::-webkit-progress-value {
  background-color: #9cff9c;
  border-radius: 10px;
}

/* info section */

.info--section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(var(--spacing-200), 2vw, calc(var(--spacing-200) + 0.5rem))
    clamp(var(--spacing-400), 2vw, calc(var(--spacing-400) + 0.5rem));
  background-color: var(--color-grey-850);
  font-size: var(--fs-pr3);
  color: var(--color-grey-600);
}

.info--rate--section {
  display: flex;
  align-items: center;
  color: var(--color-almostWhite);
}

.info--icons {
  display: flex;
  gap: var(--spacing-100);
  align-items: center;
  justify-content: center;
  margin-left: 1.4rem;
}
.info--icon {
  width: clamp(11px, 2vw, 15px);
  height: 28px;
  border: 0.2rem solid var(--color-almostWhite);
}

.info--title {
  font-size: clamp(var(--fs-pr4), 3vw, var(--fs-pr2));
}

.password--power {
  font-size: clamp(var(--fs-pr4), 3vw, var(--fs-pr2));
}

/* check box section */
.check--block {
  background-color: var(--color-grey-800);
  display: grid;
  gap: var(--spacing-200);
}

.box--holder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: clamp(calc(var(--fs-pr4) - 0.2rem), 2.5vw, var(--fs-pr3));
  line-height: var(--fs-lh3);
  color: var(--color-almostWhite);
  gap: var(--spacing-300);
  user-select: none;
  letter-spacing: 0.5px;
  transition: all 100ms;
}

.check--list {
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  outline: var(--color-almostWhite) 2px solid;
  transition: all 200ms;
}
.check--list:checked {
  background-color: var(--color-green-200);
  outline: var(--color-green-200) 2px solid;
}

.check--list::after {
  position: absolute;
  content: "";
  opacity: 0.5;
  top: 12%;
  rotate: 45deg;
  left: 30%;
  scale: 0;
  transition: opacity 150ms, scale 130ms ease-in;
}

.check--list:checked.check--list::after {
  border: 3.3px solid var(--color-grey-850);
  border-top: 0;
  border-left: 0;
  height: 13px;
  width: 8px;
  scale: 1.2;
  opacity: 1;
}

/* btn */
.btn {
  display: flex;
  padding: var(--spacing-200);
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-300);
  background-color: var(--color-green-200);
  border: 0;
  outline: 0;
  font-size: var(--fs-pr3);
  line-height: var(--fs-lh3);
  cursor: pointer;
  transition: background-color 200ms ease-out;
}

.btn:hover {
  background-color: transparent;
  padding: calc(var(--spacing-200) - 0.2rem);
  background-color: var(--color-grey-800);
  color: var(--color-green-200);
  border: 2px solid var(--color-green-200);
}

.btn:active {
  background-color: var(--color-grey-700);
}

.arrow--icon {
  width: 11px;
  height: 11px;
  mask: url(../images/icon-arrow-right.svg) no-repeat center;
  background-color: #08070b;
  transition: 200 ms;
}

.btn:hover .arrow--icon {
  background-color: var(--color-green-200);
}

/* password section */
.generate--section {
  background-color: var(--color-grey-800);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-200) var(--spacing-400);
}
.input--password {
  background-color: var(--color-grey-800);
  border: 0;
  outline: 0;
  width: 100%;
  opacity: 0.2;
  color: var(--color-almostWhite);
  caret-color: black;
  font-size: var(--fs-pr1);
  line-height: var(--fs-lh1);
  transition: all 200ms;
}
.input--password::placeholder {
  font-size: var(--fs-pr1);
  line-height: var(--fs-lh1);
  opacity: 1;
}

.icon--copy {
  height: 24px;
  width: 24px;
  cursor: pointer;
  mask: url(../images/icon-copy.svg) no-repeat center;
  background-color: var(--color-green-200);
}

.icon--copy:active {
  background-color: var(--color-almostWhite);
}

.gnerater--info {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.copy--success {
  font-size: var(--fs-pr3);
  line-height: var(--fs-lh3);
  color: var(--color-green-200);
}

/* app section */
.app--section {
  display: grid;
  gap: clamp(var(--spacing-200), 3vw, var(--spacing-400));
  transition: gap 200ms;
}

.app--footer {
  background-color: var(--color-grey-800);
  padding: clamp(var(--spacing-200), 3vw, var(--spacing-300))
    clamp(var(--spacing-200), 3vw, var(--spacing-400));
  transition: padding all 200ms;
}

.content {
  margin-bottom: clamp(var(--spacing-200), 3vw, var(--spacing-400));
  display: grid;
  gap: var(--spacing-400);
  transition: all 200ms;
}

.container {
  width: 100%;
  max-width: 90vw;
}

@media screen and (min-width: 35rem) {
  .container {
    max-width: 54rem;
  }
}
